## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

In [16]:
import os

In [20]:
from tensorflow import keras

In [26]:
import numpy as np

In [1]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Observations
+ Target variable: IS_SUCCESSFUL
+ Feature variables: APPLICATION_TYPE, AFFILIATION, CLASSIFICATION, USE_CASE, ORGANIZATION, STATUS, INCOME_AMT, SPECIAL_CONSIDERATIONS, ASK_AMT

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
column_reduce_df = application_df.drop(columns=["EIN", "NAME"])
column_reduce_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
print(column_reduce_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
column_reduce_df["APPLICATION_TYPE"].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = column_reduce_df['APPLICATION_TYPE'].value_counts().loc[lambda x : x<200].index
application_types_to_replace

Index(['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'], dtype='object')

In [6]:
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
column_reduce_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
column_reduce_df['CLASSIFICATION'].value_counts().loc[lambda x : x>1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = column_reduce_df['CLASSIFICATION'].value_counts().loc[lambda x : x<1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
data_df = pd.get_dummies(data=column_reduce_df, columns=["APPLICATION_TYPE", "AFFILIATION", "CLASSIFICATION", "USE_CASE", "ORGANIZATION", "INCOME_AMT", "SPECIAL_CONSIDERATIONS"])
data_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = data_df.drop(columns="IS_SUCCESSFUL")
y = data_df["IS_SUCCESSFUL"]
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [12]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [25]:
type(y_train)

pandas.core.series.Series

In [27]:
y_train_array = np.asarray(y_train)

In [37]:
y_test_array = np.asarray(y_test)

## Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units=116, activation="relu", input_dim=116))

# First hidden layer
nn.add(tf.keras.layers.Dense(units=58, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=29, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_4 (Dense)              (None, 116)               13572
_________________________________________________________________
dense_5 (Dense)              (None, 58)                6786
_________________________________________________________________
dense_6 (Dense)              (None, 29)                1711
_________________________________________________________________
dense_7 (Dense)              (None, 1)                 30
=================================================================
Total params: 22,099
Trainable params: 22,099
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [17]:
# Create directory for saving checkpoint file
path = "Checkpoint"

try: 
    os.mkdir(path) 
except OSError as error: 
    print("Oops, the folder already exists!")

In [35]:
# Establish callback to save model weights
mc = keras.callbacks.ModelCheckpoint("Checkpoint/weights{epoch:04d}.h5", save_weights_only=True, save_freq=5)

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train_array, epochs=150, callbacks=[mc])

Train on 25724 samples
Epoch 1/150
25724/25724 [==============================] - 9s 337us/sample - loss: 0.5705 - accuracy: 0.7219
Epoch 2/150
25724/25724 [==============================] - 13s 487us/sample - loss: 0.5526 - accuracy: 0.7311
Epoch 3/150
25724/25724 [==============================] - 10s 401us/sample - loss: 0.5485 - accuracy: 0.7309
Epoch 4/150
25724/25724 [==============================] - 23s 881us/sample - loss: 0.5470 - accuracy: 0.7340
Epoch 5/150
25724/25724 [==============================] - 20s 767us/sample - loss: 0.5452 - accuracy: 0.7334
Epoch 6/150
25724/25724 [==============================] - 19s 727us/sample - loss: 0.5449 - accuracy: 0.7338
Epoch 7/150
25724/25724 [==============================] - 12s 472us/sample - loss: 0.5439 - accuracy: 0.7342
Epoch 8/150
25724/25724 [==============================] - 10s 390us/sample - loss: 0.5435 - accuracy: 0.7364
Epoch 9/150
25724/25724 [==============================] - 16s 640us/sample - loss: 0.5416 - accuracy: 0.7352
Epoch 10/150
25724/25724 [==============================] - 9s 361us/sample - loss: 0.5412 - accuracy: 0.7369
Epoch 11/150
25724/25724 [==============================] - 13s 517us/sample - loss: 0.5408 - accuracy: 0.7365
Epoch 12/150
25724/25724 [==============================] - 8s 330us/sample - loss: 0.5399 - accuracy: 0.7368
Epoch 13/150
25724/25724 [==============================] - 13s 520us/sample - loss: 0.5395 - accuracy: 0.7372
Epoch 14/150
25724/25724 [==============================] - 11s 439us/sample - loss: 0.5389 - accuracy: 0.7371
Epoch 15/150
25724/25724 [==============================] - 26s 1ms/sample - loss: 0.5390 - accuracy: 0.7380
Epoch 16/150
25724/25724 [==============================] - ETA: 0s - loss: 0.5384 - accuracy: 0.73 - 10s 371us/sample - loss: 0.5382 - accuracy: 0.7380
Epoch 17/150
25724/25724 [==============================] - 9s 331us/sample - loss: 0.5376 - accuracy: 0.7382
Epoch 18/150
25724/25724 [==============================] - 26s 997us/sample - loss: 0.5376 - accuracy: 0.7380
Epoch 19/150
25724/25724 [==============================] - 10s 399us/sample - loss: 0.5372 - accuracy: 0.7388
Epoch 20/150
25724/25724 [==============================] - 8s 328us/sample - loss: 0.5372 - accuracy: 0.7388
Epoch 21/150
25724/25724 [==============================] - 18s 691us/sample - loss: 0.5364 - accuracy: 0.7392
Epoch 22/150
25724/25724 [==============================] - 22s 865us/sample - loss: 0.5361 - accuracy: 0.7387
Epoch 23/150
25724/25724 [==============================] - 15s 599us/sample - loss: 0.5357 - accuracy: 0.7388
Epoch 24/150
25724/25724 [==============================] - 12s 448us/sample - loss: 0.5357 - accuracy: 0.7390
Epoch 25/150
25724/25724 [==============================] - 13s 492us/sample - loss: 0.5351 - accuracy: 0.7381
Epoch 26/150
25724/25724 [==============================] - 16s 607us/sample - loss: 0.5352 - accuracy: 0.7390
Epoch 27/150
25724/25724 [==============================] - 14s 530us/sample - loss: 0.5349 - accuracy: 0.7388
Epoch 28/150
25724/25724 [==============================] - 12s 458us/sample - loss: 0.5352 - accuracy: 0.7395
Epoch 29/150
25724/25724 [==============================] - 20s 761us/sample - loss: 0.5343 - accuracy: 0.7401
Epoch 30/150
25724/25724 [==============================] - 18s 706us/sample - loss: 0.5336 - accuracy: 0.7411
Epoch 31/150
25724/25724 [==============================] - 12s 471us/sample - loss: 0.5341 - accuracy: 0.7383
Epoch 32/150
25724/25724 [==============================] - 14s 556us/sample - loss: 0.5336 - accuracy: 0.7404
Epoch 33/150
25724/25724 [==============================] - 11s 427us/sample - loss: 0.5336 - accuracy: 0.7403
Epoch 34/150
25724/25724 [==============================] - 11s 409us/sample - loss: 0.5332 - accuracy: 0.7403
Epoch 35/150
25724/25724 [==============================] - 11s 418us/sample - loss: 0.5330 - accuracy: 0.7402
Epoch 36/150
25724/25724 [==============================] - 15s 589us/sample - loss: 0.5327 - accuracy: 0.7409
Epoch 37/150
25724/25724 [==============================] - 10s 402us/sample - loss: 0.5325 - accuracy: 0.7404
Epoch 38/150
25724/25724 [==============================] - 11s 423us/sample - loss: 0.5331 - accuracy: 0.7399
Epoch 39/150
25724/25724 [==============================] - 9s 332us/sample - loss: 0.5320 - accuracy: 0.7407
Epoch 40/150
25724/25724 [==============================] - 13s 487us/sample - loss: 0.5320 - accuracy: 0.7407
Epoch 41/150
25724/25724 [==============================] - 12s 455us/sample - loss: 0.5319 - accuracy: 0.7413
Epoch 42/150
25724/25724 [==============================] - 12s 481us/sample - loss: 0.5320 - accuracy: 0.7405
Epoch 43/150
25724/25724 [==============================] - 17s 673us/sample - loss: 0.5319 - accuracy: 0.7411
Epoch 44/150
25724/25724 [==============================] - 21s 818us/sample - loss: 0.5317 - accuracy: 0.7411
Epoch 45/150
25724/25724 [==============================] - 14s 525us/sample - loss: 0.5310 - accuracy: 0.7411
Epoch 46/150
25724/25724 [==============================] - 14s 558us/sample - loss: 0.5316 - accuracy: 0.7414
Epoch 47/150
25724/25724 [==============================] - 22s 844us/sample - loss: 0.5312 - accuracy: 0.7414
Epoch 48/150
25724/25724 [==============================] - 10s 387us/sample - loss: 0.5311 - accuracy: 0.7410
Epoch 49/150
25724/25724 [==============================] - 14s 536us/sample - loss: 0.5310 - accuracy: 0.7417
Epoch 50/150
25724/25724 [==============================] - 15s 585us/sample - loss: 0.5309 - accuracy: 0.7415
Epoch 51/150
25724/25724 [==============================] - 10s 370us/sample - loss: 0.5303 - accuracy: 0.7409
Epoch 52/150
25724/25724 [==============================] - 16s 618us/sample - loss: 0.5309 - accuracy: 0.7415
Epoch 53/150
25724/25724 [==============================] - 14s 525us/sample - loss: 0.5306 - accuracy: 0.7417
Epoch 54/150
25724/25724 [==============================] - 9s 352us/sample - loss: 0.5303 - accuracy: 0.7412
Epoch 55/150
25724/25724 [==============================] - 13s 516us/sample - loss: 0.5299 - accuracy: 0.7414
Epoch 56/150
25724/25724 [==============================] - 9s 351us/sample - loss: 0.5307 - accuracy: 0.7411
Epoch 57/150
25724/25724 [==============================] - 22s 856us/sample - loss: 0.5301 - accuracy: 0.7414
Epoch 58/150
25724/25724 [==============================] - 22s 841us/sample - loss: 0.5299 - accuracy: 0.7409
Epoch 59/150
25724/25724 [==============================] - 19s 734us/sample - loss: 0.5293 - accuracy: 0.7416
Epoch 60/150
25724/25724 [==============================] - 12s 475us/sample - loss: 0.5294 - accuracy: 0.7409
Epoch 61/150
25724/25724 [==============================] - 23s 881us/sample - loss: 0.5297 - accuracy: 0.7413
Epoch 62/150
25724/25724 [==============================] - 12s 469us/sample - loss: 0.5295 - accuracy: 0.7420
Epoch 63/150
25724/25724 [==============================] - 13s 514us/sample - loss: 0.5293 - accuracy: 0.7416
Epoch 64/150
25724/25724 [==============================] - 10s 384us/sample - loss: 0.5297 - accuracy: 0.7418
Epoch 65/150
25724/25724 [==============================] - 19s 729us/sample - loss: 0.5285 - accuracy: 0.7422
Epoch 66/150
25724/25724 [==============================] - 10s 399us/sample - loss: 0.5294 - accuracy: 0.7414
Epoch 67/150
25724/25724 [==============================] - 13s 491us/sample - loss: 0.5290 - accuracy: 0.7423
Epoch 68/150
25724/25724 [==============================] - 12s 449us/sample - loss: 0.5289 - accuracy: 0.7418
Epoch 69/150
25724/25724 [==============================] - 20s 797us/sample - loss: 0.5288 - accuracy: 0.7428
Epoch 70/150
25724/25724 [==============================] - 19s 728us/sample - loss: 0.5288 - accuracy: 0.7407
Epoch 71/150
25724/25724 [==============================] - 11s 426us/sample - loss: 0.5284 - accuracy: 0.7428
Epoch 72/150
25724/25724 [==============================] - 23s 893us/sample - loss: 0.5287 - accuracy: 0.7421
Epoch 73/150
25724/25724 [==============================] - 14s 537us/sample - loss: 0.5282 - accuracy: 0.7418
Epoch 74/150
25724/25724 [==============================] - 12s 467us/sample - loss: 0.5286 - accuracy: 0.7426
Epoch 75/150
25724/25724 [==============================] - 10s 407us/sample - loss: 0.5287 - accuracy: 0.7422
Epoch 76/150
25724/25724 [==============================] - 15s 599us/sample - loss: 0.5288 - accuracy: 0.7423
Epoch 77/150
25724/25724 [==============================] - 11s 428us/sample - loss: 0.5283 - accuracy: 0.7414
Epoch 78/150
25724/25724 [==============================] - 10s 402us/sample - loss: 0.5275 - accuracy: 0.7428
Epoch 79/150
25724/25724 [==============================] - 11s 430us/sample - loss: 0.5282 - accuracy: 0.7423
Epoch 80/150
25724/25724 [==============================] - 11s 441us/sample - loss: 0.5276 - accuracy: 0.7428
Epoch 81/150
25724/25724 [==============================] - 10s 393us/sample - loss: 0.5288 - accuracy: 0.7428
Epoch 82/150
25724/25724 [==============================] - 14s 549us/sample - loss: 0.5278 - accuracy: 0.7423
Epoch 83/150
25724/25724 [==============================] - 11s 428us/sample - loss: 0.5283 - accuracy: 0.7423
Epoch 84/150
25724/25724 [==============================] - 11s 431us/sample - loss: 0.5278 - accuracy: 0.7430
Epoch 85/150
25724/25724 [==============================] - 10s 387us/sample - loss: 0.5271 - accuracy: 0.7425
Epoch 86/150
25724/25724 [==============================] - 13s 506us/sample - loss: 0.5276 - accuracy: 0.7429
Epoch 87/150
25724/25724 [==============================] - 10s 386us/sample - loss: 0.5276 - accuracy: 0.7425
Epoch 88/150
25724/25724 [==============================] - 11s 434us/sample - loss: 0.5274 - accuracy: 0.7425
Epoch 89/150
25724/25724 [==============================] - 15s 586us/sample - loss: 0.5288 - accuracy: 0.7423
Epoch 90/150
25724/25724 [==============================] - 13s 511us/sample - loss: 0.5277 - accuracy: 0.7426
Epoch 91/150
25724/25724 [==============================] - 11s 423us/sample - loss: 0.5269 - accuracy: 0.7426
Epoch 92/150
25724/25724 [==============================] - 11s 441us/sample - loss: 0.5268 - accuracy: 0.7428
Epoch 93/150
25724/25724 [==============================] - 15s 589us/sample - loss: 0.5270 - accuracy: 0.7431
Epoch 94/150
25724/25724 [==============================] - 31s 1ms/sample - loss: 0.5270 - accuracy: 0.7429
Epoch 95/150
25724/25724 [==============================] - 78s 3ms/sample - loss: 0.5267 - accuracy: 0.7421
Epoch 96/150
25724/25724 [==============================] - 52s 2ms/sample - loss: 0.5269 - accuracy: 0.7428
Epoch 97/150
25724/25724 [==============================] - 29s 1ms/sample - loss: 0.5276 - accuracy: 0.7428
Epoch 98/150
25724/25724 [==============================] - 15s 587us/sample - loss: 0.5265 - accuracy: 0.7434
Epoch 99/150
25724/25724 [==============================] - 50s 2ms/sample - loss: 0.5276 - accuracy: 0.7426
Epoch 100/150
25724/25724 [==============================] - 42s 2ms/sample - loss: 0.5275 - accuracy: 0.7420
Epoch 101/150
25724/25724 [==============================] - 41s 2ms/sample - loss: 0.5266 - accuracy: 0.7439
Epoch 102/150
25724/25724 [==============================] - 13s 505us/sample - loss: 0.5261 - accuracy: 0.7433
Epoch 103/150
25724/25724 [==============================] - 12s 479us/sample - loss: 0.5268 - accuracy: 0.7428
Epoch 104/150
25724/25724 [==============================] - 12s 483us/sample - loss: 0.5264 - accuracy: 0.7432
Epoch 105/150
25724/25724 [==============================] - 11s 411us/sample - loss: 0.5259 - accuracy: 0.7430
Epoch 106/150
25724/25724 [==============================] - 13s 521us/sample - loss: 0.5264 - accuracy: 0.7427
Epoch 107/150
25724/25724 [==============================] - 12s 464us/sample - loss: 0.5264 - accuracy: 0.7432
Epoch 108/150
25724/25724 [==============================] - 10s 396us/sample - loss: 0.5263 - accuracy: 0.7432
Epoch 109/150
25724/25724 [==============================] - 21s 818us/sample - loss: 0.5259 - accuracy: 0.7431
Epoch 110/150
25724/25724 [==============================] - 11s 415us/sample - loss: 0.5267 - accuracy: 0.7431
Epoch 111/150
25724/25724 [==============================] - 10s 396us/sample - loss: 0.5266 - accuracy: 0.7422
Epoch 112/150
25724/25724 [==============================] - 16s 626us/sample - loss: 0.5260 - accuracy: 0.7431
Epoch 113/150
25724/25724 [==============================] - 1052s 41ms/sample - loss: 0.5258 - accuracy: 0.7428
Epoch 114/150
25724/25724 [==============================] - 13s 510us/sample - loss: 0.5261 - accuracy: 0.7431
Epoch 115/150
25724/25724 [==============================] - 10s 399us/sample - loss: 0.5264 - accuracy: 0.7427
Epoch 116/150
25724/25724 [==============================] - 9s 360us/sample - loss: 0.5264 - accuracy: 0.7430
Epoch 117/150
25724/25724 [==============================] - 8s 320us/sample - loss: 0.5260 - accuracy: 0.7434
Epoch 118/150
25724/25724 [==============================] - 9s 334us/sample - loss: 0.5257 - accuracy: 0.7425
Epoch 119/150
25724/25724 [==============================] - 9s 332us/sample - loss: 0.5256 - accuracy: 0.7434
Epoch 120/150
25724/25724 [==============================] - 9s 350us/sample - loss: 0.5253 - accuracy: 0.7430
Epoch 121/150
25724/25724 [==============================] - 8s 330us/sample - loss: 0.5256 - accuracy: 0.7432
Epoch 122/150
25724/25724 [==============================] - 9s 331us/sample - loss: 0.5259 - accuracy: 0.7430
Epoch 123/150
25724/25724 [==============================] - 8s 323us/sample - loss: 0.5258 - accuracy: 0.7432
Epoch 124/150
25724/25724 [==============================] - 8s 323us/sample - loss: 0.5252 - accuracy: 0.7431
Epoch 125/150
25724/25724 [==============================] - 10s 371us/sample - loss: 0.5254 - accuracy: 0.7432
Epoch 126/150
25724/25724 [==============================] - 11s 422us/sample - loss: 0.5262 - accuracy: 0.7439
Epoch 127/150
25724/25724 [==============================] - 9s 362us/sample - loss: 0.5264 - accuracy: 0.7432
Epoch 128/150
25724/25724 [==============================] - 9s 345us/sample - loss: 0.5255 - accuracy: 0.7431
Epoch 129/150
25724/25724 [==============================] - 12s 447us/sample - loss: 0.5248 - accuracy: 0.7439
Epoch 130/150
25724/25724 [==============================] - 15s 571us/sample - loss: 0.5253 - accuracy: 0.7434
Epoch 131/150
25724/25724 [==============================] - 10s 387us/sample - loss: 0.5247 - accuracy: 0.7441
Epoch 132/150
25724/25724 [==============================] - 11s 433us/sample - loss: 0.5257 - accuracy: 0.7428
Epoch 133/150
25724/25724 [==============================] - 9s 368us/sample - loss: 0.5253 - accuracy: 0.7436
Epoch 134/150
25724/25724 [==============================] - 13s 487us/sample - loss: 0.5248 - accuracy: 0.7444
Epoch 135/150
25724/25724 [==============================] - 8s 315us/sample - loss: 0.5252 - accuracy: 0.7430
Epoch 136/150
25724/25724 [==============================] - 9s 366us/sample - loss: 0.5251 - accuracy: 0.7440
Epoch 137/150
25724/25724 [==============================] - 9s 364us/sample - loss: 0.5254 - accuracy: 0.7432
Epoch 138/150
25724/25724 [==============================] - 8s 316us/sample - loss: 0.5249 - accuracy: 0.7438
Epoch 139/150
25724/25724 [==============================] - 9s 352us/sample - loss: 0.5253 - accuracy: 0.7435
Epoch 140/150
25724/25724 [==============================] - 22s 837us/sample - loss: 0.5256 - accuracy: 0.7437
Epoch 141/150
25724/25724 [==============================] - 16s 615us/sample - loss: 0.5248 - accuracy: 0.7437
Epoch 142/150
25724/25724 [==============================] - 23s 888us/sample - loss: 0.5248 - accuracy: 0.7435
Epoch 143/150
25724/25724 [==============================] - 16s 611us/sample - loss: 0.5245 - accuracy: 0.7435
Epoch 144/150
25724/25724 [==============================] - 13s 523us/sample - loss: 0.5262 - accuracy: 0.7430
Epoch 145/150
25724/25724 [==============================] - 13s 502us/sample - loss: 0.5251 - accuracy: 0.7434
Epoch 146/150
25724/25724 [==============================] - 19s 729us/sample - loss: 0.5251 - accuracy: 0.7431
Epoch 147/150
25724/25724 [==============================] - 11s 425us/sample - loss: 0.5246 - accuracy: 0.7439- loss: 0.5250 - accuracy:
Epoch 148/150
25724/25724 [==============================] - 11s 423us/sample - loss: 0.5250 - accuracy: 0.7433
Epoch 149/150
25724/25724 [==============================] - 17s 642us/sample - loss: 0.5244 - accuracy: 0.7435
Epoch 150/150
 2944/25724 [==>...........................] - ETA: 15s - loss: 0.5127 - accuracy: 0.7534

In [38]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test_array,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/1 - 1s - loss: 0.5446 - accuracy: 0.7298
Loss: 0.591450417556151, Accuracy: 0.7297959327697754

In [39]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")